<!-- Launches minimal, pris' kinect camera feed and the caught robber node 
(processing of the image feed) to search for robbers. - LT -->

<launch>
	<arg name="robot_name" value="$(env ROBOT)" />
	
	<include file="$(find turtlebot_bringup)/launch/minimal.launch"/>
	<include file="$(find caught)/launch/caught.launch"/>
	<group ns="$(arg robot_name)">	
	<include file="$(find turtlebot_bringup)/launch/3dsensor.launch">
		<arg name="rgb_processing" value="true" />
		<arg name="depth_registration" value="false" />
		<arg name="depth_processing" value="false" />
		<arg name="robot_name" value="$(arg robot_name)" />
		<arg name="scan_topic" value="/$(arg robot_name)/scan" />
	</include>
	</group>
</launch>
