<!-- Core Tools Interface -->
<!--
  Author: Ian Loefgren
  Last Modified: 7/3/2017

  The ROS launch file for the Core Tools observation interface, including a user
  interface, and image processing node.
-->

<launch>
  <arg name="cop" default="pris"/>
  <!-- Interface -->
  <node name="obs_interface" pkg="observation_interface"
    type="interface.py" output="screen" >
    <param name="cop_name" value="$(arg cop)" />
  </node>

  <!-- Cop Video Raw Image Processing -->
  <!-- <node name="image_processing" pkg="image_proc" type="image_proc"
    ns="/$(arg cop)/camera/rgb" /> -->

  <!-- Theora republishers -->
  <node name="cop_republish" pkg="image_transport" type="republish"
    args="theora in:=/$(arg cop)/camera/rgb/image_color raw out:=/$(arg cop)/camera/rgb/image_decompressed" />

  <node name="cam1_republish" pkg="image_transport" type="republish"
    args="theora in:=/cam1/usb_cam/image_raw raw out:=/cam1/usb_cam/image_decompressed" />

  <node name="cam2_republish" pkg="image_transport" type="republish"
    args="theora in:=/cam2/usb_cam/image_raw raw out:=/cam2/usb_cam/image_decompressed" />

  <node name="cam3_republish" pkg="image_transport" type="republish"
    args="theora in:=/cam3/usb_cam/image_raw raw out:=/cam3/usb_cam/image_decompressed" />


</launch>
