<!-- Core Tools Interface -->
<!--
  Author: Ian Loefgren
  Last Modified: 7/3/2017

  The ROS launch file for the Core Tools observation interface, including a user
  interface, and image processing node.
-->

<launch>
  <arg name="cop" default="pris"/>
  <arg name="connect" default="false"/>

  <!-- Set environement variables for network -->
  <node name="environ_var" pkg="observation_interface"
    type="master_set.sh"
    <param name="connection_type" value="$(arg connect)" />
  </node>

  <!-- Interface -->
  <node name="obs_interface" pkg="observation_interface"
    type="interface.py" output="screen" >
    <param name="cop_name" value="$(arg cop)" />
  </node>

  <!-- Cop Video Raw Image Processing -->
  <node name="image_processing" pkg="image_proc" type="image_proc"
    ns="/$(arg cop)/camera/rgb" />

</launch>
